* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#content {
  max-width: 1280px;
  height : auto;
  padding: 10px;
  margin: 0 auto;
}

main {
  width: 100%;
  height: auto;
  padding: 10px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#enter-value {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
}

#carta-texto {
  width: 60%;
}

#carta-gerada {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  padding: 10px;
}

#carta-gerada span {
  margin: 5px;
}

.newspaper {
  background-color: antiquewhite;
  font-family: Times New Roman, Times, serif;
  font-weight: 700;
}

.magazine1 {
  background-color: teal;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
  text-transform: uppercase;
}

.magazine2 {
  background-image: url('images/pink-pattern.png');
  color: fuchsia;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 900;
}

.medium {
  font-size: 20px;
  padding: 8px;
}

.big {
  font-size: 30px;
  padding: 10px;
}

.reallybig {
  font-size: 40px;
  padding: 15px;
}

.rotateleft {
  transform: rotate(-5deg);
}

.rotateright {
  transform: rotate(5deg);
}

.skewleft {
  transform: skewX(10deg);
}

.skewright {
  transform: skewX(-10deg);
}

#contador {
  width: 100%;
  height: auto;
  padding: 20px;
  margin: 10px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#carta-contador {
  text-align: center;
}
